<%- include('bootheader') -%>
<%- include('menubar') -%>
  <div class="jumbotron">
      <h1>Your goal has been updated</h1>
      <p>the new goal is all set</p>
  </div>

  <a class="nav-link active" href="/suggest">Sleep Advice</a>
  <a class="nav-link active" href="/goals">New Goal</a>

<%- include('bootfooter') -%>
