<%- include('bootheader') -%>
<%- include('menubar') -%>
<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
<style>
*{
font-family: 'Dosis', sans-serif;
}
</style>

<div class="jumbotron" style="text-align:center;">
    <h1>Set up your personal daily sleep goal</h1>
</div>

<style>
.jumbotron {
   /*background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(255, 255, 255, 0.2);
}
</style>

<form method="post" action="/processGoals">



  <table class="table table-bordered table-dark">
    <tbody>
      <tr>
        <td><h4>sleep start time</h4></td>

        <td>
          <select class="form-control" id="exampleFormControlSelect3" data-format="DD-MM-YYYY h:mm a" data-template="DD / MM / YYYY     hh : mm a" name="startAt" value="21-12-2012 8:30 pm">
            <option>8pm</option>
            <option>9pm</option>
            <option>9:30pm</option>
            <option>10pm</option>
            <option>10:30pm</option>
            <option>11pm</option>
            <option>11:30pm</option>
            <option>12am</option>
            <option>12:30am</option>
            <option>1am</option>
            <option>1:30am</option>
            <option>2am</option>
            <option>2:30am</option>
            <option>3am</option>
          <select>
          <script>
          $(function(){
            $('#datetime12').combodate();
          });
          </script>
        </td>
      </tr>

      <tr>
        <td><h4>Set the length of sleep</h4></td>
        <td>
          <select class="form-control" id="exampleFormControlSelect2" name="dailyHr">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
          <select>
        </td>

      </tr>
      <tr>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select number of days</label>
          <select class="form-control" id="exampleFormControlSelect1" name="numDay">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
          </select>
        </div>

      </tr>
      <%#
      <tr>
        <div class="form-group">
          <label for="exampleFormControlSelect1">select payment amount</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
          </select>

        </div>
        </tr>
        %>
    </tbody>
  </table>
  <input type="submit" class = "btn btn-primary" Set</input>
</form>

<style>
  label{
    font-size:25px;
  }

  #exampleFormControlSelect1{
    width: 50%;
    margin: auto;
  }

  #exampleFormControlSelect2{
    width: 50%;
    margin: auto;
  }

  #exampleFormControlSelect3{
    width: 50%;
    margin: auto;
  }
</style>


<%- include('bootfooter') -%>
