<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>About</h1>
        <p>tempo allows you to get your sleep schedule under control. Never sleep through work or class again!!</p>
    </div>
    <style>
    .jumbotron {
       /*background: rgb(200, 54, 54); /* This is for ie8 and below */
       background: rgba(255, 255, 255, 0.2);*/
    }
    </style>

    <div class="container">

      <div class="row">
        <div class="col-md col-sm-2">
          set a new sleeping time for today, tomorrow, or whenever you need.
        </div>
        <div class="col-md col-sm-4">
          hold yourself accountable, by charging yourself a small amount if you slip up.
        </div>
        <div class="col-md col-sm-6">
          Compete in competitions and win prizes for your dedication to your goals!
        </div>
      </div>

      <div class="row">
        <div class="col-md-auto">This is a some more text, see...</div>


    </div>

<%- include('bootfooter') -%>
