<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Welcome to tempo!</h1>
        <p>Keep your sleep pattern accountable!</p>
        <p>Please login to make further use</p>
    </div>
<%- include('bootfooter') -%>
