<%- include('bootheader') -%>
<%- include('menubar') -%>


<head>
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <base href="/">

    <style>
        * {
            margin: 0;
            padding: 100;
            font-family: 'Dosis', sans-serif;


        }
        html{
          font-family: 'Dosis', sans-serif;
        },
        body {
            width: 100%;
            height: 100%;
        }
        .tempo{
            width: 100%;
            height: 95%;
            min-width: 100%;
            min-height: 100%;
            position: relative;
        }
        .flex-center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }

        .tempo-title,
        .tempo-sub-title {
            width: 65%;
            display: block;
            text-align: center;
            font-family: 'Dosis', sans-serif;
        }
        .tempo-title {
            margin: 15% 0;

        }
      </style>
  </head>
      <div class="tempo flex-center">
              <h class="tempo-title display-2 text-white"><em>tempo</em></h>
              <h4 class="tempo-sub-title text-secondary text-white"><strong>
                <ul class="list">
                    <li class="list-inline-item text-secondary"><a href="#" class="text-white"><u>sleep soundly.</u></a></li>
                    <li class="list-inline-item text-secondary"><a href="#" class="text-white"><u>optimally.</u></a></li>
                    <li class="list-inline-item text-secondary"><a href="#" class="text-white"><u>profitably.</u></a></li>
                  </ul><strong></h4>
          </div>








<%- include('bootfooter') -%>
