<%- include('bootheader') -%>
    <div class="jumbotron" style="text-align:center;">
        <h1>Login to Tempo </h1>
        <p> You must have a gmail account to login to Tempo </p>
        <p> With your account, we could keep your daily data accountable</p>
        <a class="btn btn-danger" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>
    </div>

<%- include('bootfooter') -%>
