<<<<<<< HEAD

<nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="background-color: #e3f2fd;">
=======
<marquee behavior="scroll" direction="left">“There is a time for many words, and there is also a time for sleep.”
― Homer, The Odyssey</marquee>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
>>>>>>> 95d012e6d32e4b589dafab814e6cd0be7fa6e094
  <a class="navbar-brand" href="/">TEMPO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <% if (loggedIn) { %>

        <li class="nav-item active">
          <a class="nav-link" href="/#">Start Recording</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Plans
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profiles">Today's Plan</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/profile">Yesterday</a>
            <a class="dropdown-item" href="/editProfile">Past Week</a>
            <a class="dropdown-item" href="/profile">Tomorrow</a>
            <a class="dropdown-item" href="/editProfile">Future Week</a>

          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profiles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profiles">Show Profiles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/profile">My Profile</a>
            <a class="dropdown-item" href="/editProfile">Edit Profile</a>
          </div>
        </li>

      <li class="nav-item">
        <a class="nav-link active" href="/logout"> Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/about"> About</a>
      </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link active" href="/auth/google"> Login</a>
        </li>
        <% }  %>
    </ul>


    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>
