<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Global Webpage Comment Form</h1>
        <p>add comments to any page on the web ...</p>
    </div>
    <style>
    .jumbotron {
       /*background: rgb(200, 54, 54); /* This is for ie8 and below */
       background: rgba(255, 255, 255, 0.2);*/
    }
    </style>

    <form method="post" action="/processform">
      URL: <input type="text" id="url" name="url" value="add URL here"> <br>
      comments: <textarea id="theComments" name="theComments"></textarea>


      <input type="submit">
    </form>


<%- include('bootfooter') -%>
