<%- include('bootheader') -%>
<%- include('menubar') -%>



<label for="exampleFormControlSelect1"><b><h2>Select the length of your Nap (number of hours)</h2></b></label>
<select class="form-control" id="naphour">
  <option>0.5</option>
  <option>1</option>
  <option>1.5</option>
  <option>2</option>
  <option>2.5</option>
  <option>3</option>
</select>

<button onClick="set()" type="button" class="btn btn-primary" name="button">Set</button>

  <style>
    body{
    	text-align: center;
      font-family: sans-serif;
      font-weight: 100;
      background-image: url("/images/white.jpg");
      background-size: 100%;
    }

    h1{
      color: #396;
      font-weight: 100;
      font-size: 40px;
      margin: 40px 0px 20px;
    }

    #clockdiv{
    	font-family: sans-serif;
    	color: #fff;
    	display: inline-block;
    	font-weight: 100;
    	text-align: center;
    	font-size: 30px;
    }

    #clockdiv > div{
    	padding: 10px;
    	border-radius: 3px;
    	background: #00BF96;
    	display: inline-block;
    }

    #clockdiv div > span{
    	padding: 15px;
    	border-radius: 3px;
    	background: #00816A;
    	display: inline-block;
    }

    .smalltext{
    	padding-top: 5px;
    	font-size: 16px;
    }
  </style>


<h1><strong>Countdown Clock</strong></h1>
<div id="clockdiv">

  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>

  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>

  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>

<button onClick="start()" type="button" class="btn btn-warning" name="button">START</button>

<script>
  function set(){
    var target = document.getElementById('naphour');
    return target.value;
  }

  function getTimeRemaining(endtime) {
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    return {
      'total': t,
      'days': days,
      'hours': hours,
      'minutes': minutes,
      'seconds': seconds
    };
  }

  function initializeClock(id, endtime) {
    var clock = document.getElementById(id);
    var daysSpan = clock.querySelector('.days');
    var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');
    /**
    var pauseButton = document.createElement("button");
    pauseButton.innerHTML = "Pause";
    */

    var endButton = document.createElement("button");
    endButton.innerHTML = "End";
    endButton.onClick = function(){
      clearInterval(timeinterval);
    };

    function updateClock() {
      var t = getTimeRemaining(endtime);

      daysSpan.innerHTML = t.days;
      hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
      minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
      secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

      if (t.total <= 0) {
        clearInterval(timeinterval);
        window.location.href = "/napend";
      }
    }

    updateClock();
    var timeinterval = setInterval(updateClock, 1000);
  }

    /**
    var clock = document.getElementById(id);
    var daysSpan = clock.querySelector('.days');
    var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');
    */


  function start(){
    var target = set();
    var deadline = new Date(Date.parse(new Date()) + target*60*60*1000);
    //var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);
    initializeClock('clockdiv', deadline);
  }

</script>



<%- include('bootfooter') -%>
