<%- include('bootheader') -%>
<%- include('menubar') -%>
  <div class="jumbotron">
      <h1>Sleep</h1>
      <p>Click on the sleep button when you are ready to sleep!</p>
  </div>

  <table class="table">
    <col width="120">
    <col width="90">
    <col width="90">
    <td>
      <div class="card"  style="background-color: rgba(100, 100, 200, 200); opacity: .8;">
        <div class="card-header">
          Accountability
        </div>
        <div class="card-body">
          <h4 class="card-title">Making user</h4>
          <p class="card-text">Users pay a small amount and stay to their sleeping goal</p>
        </div>
      </div>
    </td>
    <td>
      <div class="card"  style="background-color: rgba(100, 100, 200, 200); opacity: .8;">
        <div class="card-header">
          Accountability
        </div>
        <div class="card-body">
          <h4 class="card-title">Making user</h4>
          <p class="card-text">Users pay a small amount and stay to their sleeping goal</p>
        </div>
      </div>
    </td>
    <td>
      <div class="card"  style="background-color: rgba(100, 100, 200, 200); opacity: .8;">
        <div class="card-header">
          Accountability
        </div>
        <div class="card-body">
          <h4 class="card-title">Making user</h4>
          <p class="card-text">Users pay a small amount and stay to their sleeping goal</p>
        </div>
      </div>
    </td>
  </table>

  <form method="post" action="/sleepStart">
    <input class="btn btn-lg btn-warning" type="submit" value="Go to Sleep">
  </form>

<%- include('bootfooter') -%>
