<%- include('bootheader') -%>
<%- include('menubar') -%>
  <div class="jumbotron">
      <h1>Sleep</h1>
      <p>Click on the sleep button when you are ready to sleep!</p>
  </div>

  

  <form method="post" action="/sleepStart">
    <input class="btn btn-lg btn-warning" type="submit" value="Go to Sleep">
  </form>

<%- include('bootfooter') -%>
