<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
    <h1>Time Recording</h1>
    <p>Click the start button to start recording time!</p>
</div>

<form method="post" action="/processStart">
  <input class="btn btn-lg btn-warning" type="submit" value="Start">
</form>

<%- include('bootfooter') -%>
