<%- include('bootheader') -%>
<%- include('menubar') -%>
<link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
<div class="jumbotron">
  <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <h1>start sleeping</h1>
    <p>Click the start button to start sleeping!</p>
</div>

<form method="post" action="/processStart">
  <input class="btn btn-lg btn-warning" type="submit" value="Start">
</form>

<%- include('bootfooter') -%>
