<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron" style="text-align:center;">
    <h1>Set up Details of the Tournament</h1>
    <br>
    <p></p>
    <p></p>
</div>
<style>
.jumbotron {
   /*background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(255, 255, 255, 0.2);*/
}
</style>

<div style="text-align:center;">

<button onClick="code()" type="button" class="btn btn-primary" id="button">Get a Tournament Code</button>
<hr>
<output name="code" id="code"></output>

<script>
  function code(){
    var code = Math.floor(10000000 + Math.random() * 90000000);
    var code_area = document.getElementById('code');
    var b = document.getElementById('button')
    code_area.value = code;
    if(code_area){
      b.disabled = true;
    }
  }
</script>

<br>
<hr>
<p>Set your personal Sleep goal for this Tournament</p>
<select class="form-control" id="dailyHr" name="dailyHr">
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
<select>
<br>
<p>Tournament Length</p>
<select class="form-control" id="tlength" name="tlength">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
<select>
<br>
<b><p>End Date</p></b>
<b><output name="date" id="date"></output></b>
<hr>

<button onClick="calcEnd()" type="button" class="btn btn-primary" id="button">Get</button>

<script>
  function calcEnd(){
    var curr = new Date();
    var l = document.getElementById('tlength');
    l = parseInt(l.value);
    var span = curr.getDate() + l;
    var endDate = document.getElementById('date');
    var endMonth;
    var endDay;
    if(span > 31){
      endDay = span-31;
      endMonth = curr.getMonth()+2;
    } else{
      endDay = span;
      endMonth = curr.getMonth()+1;
    }
    endDate.value = endMonth + "/" + endDay;
  }
</script>
<div>


<%- include('bootfooter') -%>
