body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://us.123rf.com/450wm/julydfg/julydfg1103/julydfg110300206/9201017-black-leather-texture-background-.jpg?ver=6");
  background-size: 35%;
  position: relative;
}

a {
  color: #00B7FF;
