body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/white.jpg");
  background-size: 100%;
  background-repeat: ;
  position: relative;
}

a {
  color: #00B7FF;
